@theme inline {
  --color-primary: #0b1030;
  --color-primary-100: #0b0e1a;
  --color-primary-200: #060a1b;

  --color-secondary: #b9c3ff;
  --color-secondary-100: #8892ce;

  --color-surface-25: #f2f3f4;
  --color-surface-50: #e5e7eb;
  --color-surface-100: #9da2ae;
  --color-surface-200: #5e6a7f;

  --color-danger-50: #fec9c9;
  --color-danger-100: #b8575c;
  --color-danger-200: #261a28;

  --color-success-50: #dffaf2;
  --color-success-100: #9ef1d8;
  --color-success-200: #1abd8c;
  --color-success-300: #12825f;
  --color-success-400: #107555;

  --color-warning-50: #fdf3e6;
  --color-warning-100: #f9dbb5;
  --color-warning-200: #f2ab53;
  --color-warning-300: #ee9322;
  --color-warning-400: #c7760f;
}

.gate-overlay {
  background: radial-gradient(circle at top, #111827 0, #020617 55%, #000 100%);
}

.container {
  @apply max-w-[1000px] my-0 mx-auto;
}

.body-main-background {
  background: radial-gradient(
    1100px 560px at 50% -10%,
    #0b1030 0%,
    #1a2147 42%,
    #060915 100%
  );
}

.card {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.02),
    rgba(0, 0, 0, 0.04)
  );
  border: 1px solid #ffffff14;
  border-radius: 14px;
  padding: 16px;
  margin-top: 16px;
}

.custom-carousel-btn {
  @apply rounded-lg w-8 h-9 border-gray-50 flex justify-center items-center hover:bg-black opacity-80 hover:cursor-pointer;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: rgba(0, 0, 0, 0.5);
}

.news-body {
  @apply text-surface-25 text-base/[26px] pr-2 h-[330px];
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-color: rgb(100, 100, 100) rgba(192, 192, 192, 0.08);
  scrollbar-width: thin;
}

.z1 {
  z-index: 1;
}
