@theme inline {
  --color-primary-50: #10131e;
  --color-primary-100: #0b0e1a;
  --color-primary-200: #060a1b;

  --color-secondary: #0e1729;

  --color-surface-50: #ffffff;
  --color-surface-100: #e5e7eb;
  --color-surface-200: #9ca3af;
  --color-surface-300: #a5b4ff;
  --color-surface-400: #000000;

  --color-danger-50: #fecaca;
  --color-danger-100: #b8565b;
  --color-danger-200: #fb4f4f;
  --color-danger-300: #b70404;
  --color-danger-400: #910303;
  --color-danger-500: #241827;

  --color-success-50: #dffaf2;
  --color-success-100: #9ef1d8;
  --color-success-200: #1abd8c;
  --color-success-300: #12825f;
  --color-success-400: #107555;

  --color-warning-50: #fdf3e6;
  --color-warning-100: #f9dbb5;
  --color-warning-200: #f2ab53;
  --color-warning-300: #ee9322;
  --color-warning-400: #c7760f;
}
